:root {
    --primary-color: #218380;
    --secondary-color: #ffffff;
    --primary-font-color: #000000;
    --secondary-font-color: #ffffff;
    --standard-font-size: 1.0416666666666667vw;
    --h2-font-size: max( calc( var(--standard-font-size) * 1.5), 15px)
}

* {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: max(var(--standard-font-size), 11px);
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    display: flex;
    display: flex;
    justify-content: space-between;
    color: var(--secondary-font-color);
    background-color: var(--primary-color);
    padding: 30px;
    height: 10vh;
    align-items: center;
}

header a:hover {
    color: rgb(248, 110, 110);
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#startcard {
    border: 2px solid #919499;
    width: max-content;
    border-radius: 24px;
    box-shadow: 13px 8px 5px 0px rgba(145, 148, 153, 0.49);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    margin: 3rem;
    height: fit-content;
    /* height: 17.6rem; */
}

h2 {
    font-size: var(--h2-font-size);
}

#startquiz {
    background-color: var(--primary-color);
    border-style: none;
    border-radius: 10px;
    align-self: flex-start;
    color: var(--secondary-font-color);
    padding: 12px 8px;
    margin: 5px;
}

#startquiz:hover {
    background: rgb(248, 110, 110);
    color: var(--secondary-font-color);
    cursor: pointer;
}

#question-section {
    border: 2px solid #919499;
    width: max-content;
    border-radius: 24px;
    box-shadow: 13px 8px 5px 0px rgba(145, 148, 153, 0.49);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    margin: 3rem;
    height: fit-content;
}

#scoreboard,
#highscore {
    border: 2px solid #919499;
    width: max-content;
    border-radius: 24px;
    box-shadow: 13px 8px 5px 0px rgba(145, 148, 153, 0.49);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    margin: 3rem;
    height: fit-content;
}

.hidden {
    display: hidden;
}

.options {
    background-color: var(--primary-color);
    border-style: none;
    border-radius: 10px;
    color: var(--secondary-font-color);
    padding: 12px 8px;
    margin: 5px;
}

.options:hover {
    background: rgb(248, 110, 110);
    color: var(--secondary-font-color);
    cursor: pointer;
}

.hr {
    border: 1px solid black;
    width: 100%;
    background: black;
}

.flex {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.pdiv {
    padding: 0 1rem;
    font-weight: bold;
    max-height: 30vh;
    overflow: auto;
}